body {
    background-color: #E4E5E7;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    background-color: #0F487F;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 20px;
}
.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    transition-duration: 0.25s;
}
.nav-list li a:hover {
    color: #E4E5E7;
}
.main_title {
    display: flex;
}
.main_photo {
    width: 400px;
    height: 401px;
    background-color: #0F487F;
}
.main_photo img {
    border-radius: 100%;
}
.main_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 401px;
    flex-grow: 2;
    color: #0F487F;
}
.main_name h1 {
    text-transform: uppercase;
}
.main_content {
    display: flex;
}
.content_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 350px;
    background-color: #0F487F;
    color: white;
    padding: 50px 0 50px 50px;
}
.content_left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content_left ul li {
    margin-bottom: 10px;
}
.content_left a {
    color: white;
    text-decoration: none;
    transition-duration: 0.25s;
}
h2 {
    text-transform: uppercase;
}
.content_right {
    max-width: 770px;
    background-color: white;
    padding: 50px;
}
.content_right h2 {
    color: #0F487F;
}
.content_right p {
    color: grey;
    text-align: justify;
    border-bottom: 2px solid #0F487F; 
    padding-bottom: 10px;
}
.english p {
    border: none;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0F487F;
    color: white;
    padding: 10px 0 10px 0; 
}
